*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, sans-serif;
  color: whitesmoke;
  background-color: hsl(200, 6%, 10%);
}

.title {
  margin: 1em 0 2.5em;
  text-align: center;
}

.recipe-list {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.list-item {
  display: inline-block;
  margin-left: 30px;
}

.link {
  display: inline-block;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #80baef;
}